@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

/* Ensuring double line spacing for text */
#savedInfoSection, #displayInfo p {
    line-height: 3; /* Double line spacing for readability */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('20240211_233718.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px; /* Adjust for header height */
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 200px;
    background: greenyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo, .navigation a, .navigation .btnLogin-popup {
    color: #fff;
}

.navigation a, .navigation .btnLogin-popup {
    margin-left: 40px;
    transition: color 0.3s;
}

.navigation .btnLogin-popup {
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.historyWrapper {
    width: 80%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
    margin-top: 20px; /* Adjust for spacing from header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: greenyellow;
    color: #234;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #fff;
    color: greenyellow;
}
